/* Reset CSS */
* {
    /* Margem = Externa */
    margin: 0;
    box-sizing: border-box;
}



body {
/* Cor fundo*/
background-color: rgb(201, 156, 105);
    /* Cor textos*/
color: #663007; ;
}


/* Seletor para os <A> */
a{
/* Propriedade e VALOR */
text-decoration: none;
color: #251101fd;
}



/* HEADER = Cabeçalho */
header {
    /* ROW Linha Horizontal*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c48d64;
    /* Largura ou Comprimento */
    width: 100%;
}

/* UL */
.menu{
list-style:none;
/* Lista Horizontal */
display:flex;
/* Espaço entre TAGS */
gap:1rem;
}
 
/* Tag NAV */
.menu-desktop{
    display: none;
}
/* Daqui pra cima versão Mobile  */
/* =================================== */

/* Responsivo  */
/*  Serve para telas Maiores */

@media( min-width: 768px ) {

/* NAV */
.menu-desktop{
    display: flex;
}
}
